################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
eCommerce/.vs
.vs/ eCommerce
